.profileContainer {
  display: flex;
  justify-content: flex-start;
}

.profileContainer > img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 15px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
}

.profileContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0.75rem;
}

.profileContainer div strong {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title);
}

.profileContainer div p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.profileContainer div p img {
  margin-left: 0.5rem;
}